{{ define "trackablePresetList" }}
<ul class="trackablePresetList" data-trackable-presets='{{ .TrackablePresets | json }}'>
    {{ range .TrackablePresets }}
    <li data-name="{{ .Name }}">
        <button type="button" data-name="{{ .Name }}">
        <span class="icon">{{ .Icon.String }}</span>
        {{ .Name }}
    </button>
    </li>
    {{ end }}
</ul>

<template id="trackablePresetListTemplate">
    <button type="button" data-name="">
        <span class="icon"></span>
        <span class="name"></span>
    </button>
</template>

{{ end }}