{{ define "entries_title" }}{{ t "entries.title" }}{{ end }}

{{ define "entries_content" }}

<nav class="card">
<ul class="day-control">
    {{ range .DayNavigation }}
    <li>
      <a href="/entries?day={{ .Date }}"
         hx-get="/entries?day={{ .Date }}"
                 hx-target="main.container"
                 hx-select="main.container"
                 hx-swap="outerHTML"
         hx-push-url="true"
         {{ if .IsCurrent }}aria-current="page"{{ end }}>
        <span class="day-number">{{ .DayNumber }}</span>
        <span class="day-name">{{ .DayName }}</span>
      </a>
    </li>
    {{ end }}
</ul>
</nav>
<section class="card">
    {{ if .Entries }}
    <ul class="entry-list">
    {{ range .Entries }}
        {{ template "entry_item" . }}
    {{ end }}
    {{ else }}
    <p>{{ t "entry.no_entries" }}</p>
    {{ end }}
    </ul>

</section>

<dialog id="add-quick-trackable-dialog" class="sheet">

</dialog>

{{ end }}

{{ define "entry_item" }}
<li class="entry-item {{ if .IsPrivate }}entry-item--private{{ end }}" data-id="entry-{{ .ID }}">
    <div class="entry-item__header">
        <div class="entry-meta">
            <time is="relative-time" datetime="{{ formatISO .RecordedAtUtc }}">{{ formatUnix .RecordedAtUtc }}</time>
            {{ if ne .EntryDate (formatUnix .RecordedAtUtc | printf "%.10s") }}
            <div class="entry-date-note">{{ t "entry.logged_for" }} {{ .EntryDate }}</div>
            {{ end }}
        </div>
        {{ if .IsPrivate }}
        <div class="entry-private-indicator">
        <img src="/static/security.svg" alt="{{ t "entry.private_entry_alt" }}" class="entry-private-indicator__icon">
        <span class="entry-private-indicator__label">{{ t "entry.private.label" }}</span>
        </div>
        {{ end }}
    </div>
    {{ if .Trackables }}
    <ul class="entry-trackables">
        {{ range .Trackables }}
        <li>
            {{ if .Icon }}<span class="icon">{{ .Icon }}</span>{{ end }}
            <span>{{ .Name }}</span>
            <strong>{{ .Value }}</strong>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    <div class="entry-text">{{ .NoteText.String }}

        {{ if .NoteText.String }}
        <button id="entry-{{ .ID }}-context-button" type="button" class="button--ghost button--more" popovertarget="entry-{{ .ID }}-context">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm5-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4-1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
        </button>
        <div class="entry-actions entry-actions--column flex col" popover id="entry-{{ .ID }}-context" anchor="entry-{{ .ID}}-context-button" data-placement="left">
        <button type="button" class="button--ghost button--sm edit-note-button" data-entry-id="{{ .ID }}" hx-get="/entry/{{ .ID }}/trackables" hx-target="#add-quick-trackable-dialog" hx-swap="innerHTML">{{ t "entry.add_trackable" }}</button>
        <button type="button" class="button--ghost button--sm delete-note-button" data-entry-id="{{ .ID }}">{{ t "entry.delete_note" }}</button>
        </div>
        {{ end }}
    </div>
</li>
{{ end }}