{{ define "topNav" }}
<nav class="sticky color-secondary" slot="header">
  <ul>
    <li><button class="ghost" role="button" aria-label="Open menu">
      <span class="visually-hidden">Menu</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon-menu"><path d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path d="M4 18l16 0"></path></svg>
      </button></li>
  </ul>
  <ul>
    <li><button id="theme-toggle" class="contrast" aria-label="Switch theme">Theme</button></li>
  </ul>
</nav>
{{ end }}
